<template name="hello">

    <div class="row hello">
        <div class="col-md-12">
            
            <h1>{{title}}</h1>
            {{#if isCode}}
                <blockquote>
                    <p>
                        <strong>Step 1:</strong>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </blockquote>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-8 col-md-10">
                                <input type="text" class="user_name" placeholder="Name" value="{{userName}}">
                            </div>
                            <div class="col-xs-4 col-md-2">
                                <button type="button" class="btn btn-primary btn-block">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            {{else}}
                <blockquote>
                    <p>
                        <strong>Step 2:</strong>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </blockquote>
            {{/if}}

            {{#if isConnected}}
                <h2>Hello {{userName}} <button type="button" class="btn btn-primary">Continue</button> </h2>
            {{/if}}

        </div>
    </div>

</template>