.hello {
    /*background-color: #ffffff;*/
    /*padding: 10px 0;*/
    /*border-bottom: 2px solid #222;*/
    /*margin-bottom: 10px;*/
}

.hello h1 {
    background-color: #16A085;
    color: #fff;
    padding: 5px 10px;
}